{% extends 'layouts/main.html' %}

{% block header %}
    <header>
        <h1>Welcome to {{ appname }}</h1>
    </header>
{% endblock %}

{% block content %}
    <section>
        <h3>Posts</h3>
        {% if posts|length %}
        <ul>
            {% for post in posts %}
            <li>
                {{ post.TITLE }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No posts found</p>
        {% endif %}
    </section>
    <a href="{{ route('posts.create') }}">Add Post</a>
{% endblock %}

{% block footer %}
    <footer>
        <h3>Thanks for visiting</h3>
    </footer>
{% endblock %}
