{% extends 'layouts/main.html' %}

{% block header %}
    <header>
        <h1>Welcome to {{ appname }}</h1>
    </header>
{% endblock %}

{% block content %}
    <section>
        <table>
        {% for id, section in sections %}
        <tr>
            <td>{{ section.LABEL }}</td>
            <td><a href="{{ route('section.edit', {"ID": section.ID}) }}">Edit</a></td>
        </tr>
        {% endfor %}
        </table>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <h3>Thanks for visiting</h3>
    </footer>
{% endblock %}
