{% extends 'layouts/main.html' %}

{% block header %}
    <header>
        <h1>Welcome to {{ appname }}</h1>
    </header>
{% endblock %}

{% block content %}
    <section>
        <h3>Posts</h3>
        {% if posts|length %}
        <ul>
            {% for post in posts %}
            <li>
                {{ post.TITLE }}
                <a href="{{ route('posts.edit', {"ID" : post.ID }) }}">Edit</a>
                <a href="{{ route('posts.destroy', {"ID": post.ID, "_method": "DELETE" }) }}">Delete</a>
                    <ul>
                        {% if post.COMMENTS %}
                            {% for comment_id, comment in post.COMMENTS %}
                            <li class="comment">
                                <div>
                                    {{ comment }}
                                </div>
                                <div>
                                    <a href="{{ route('posts.comments.edit', {"ID": comment_id}) }}">Edit</a>
                                    <a href="{{ route('posts.comments.delete', {"ID": comment_id, "_method": "DELETE"}) }}">Delete</a>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <form action="{{ route('posts.comments.store', { "POST_ID": post.ID }) }}" method="POST">
                                <input type="hidden" name="POST_ID" value="{{ post.ID }}">
                                <textarea name="CONTENT"></textarea>
                                <div><button type="submit">Add Comment</button></div>
                            </form>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No posts found</p>
        {% endif %}
    </section>
    <a href="{{ route('posts.create') }}">Add Post</a>
{% endblock %}

{% block footer %}
    <footer>
        <h3>Thanks for visiting</h3>
    </footer>
{% endblock %}
